html {
  @include media-breakpoint-down(xs) {
    font-size: 14px;
  }
}

.App {
  min-height: 100vh;  
}

.c-pointer {
  cursor: pointer;
}

.btn-link:hover, .btn-link:focus, a:hover, a:focus {
  text-decoration: none;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  &__player {
  position: absolute;
  top: 0;
  left: 0;
  }
}

.modal-dialog {
  margin-top: 5rem;
}

.dropdown-toggle:after {
  margin-left: 0.5em;
  padding-left: 1px;
}

.nav-link {
  text-align: center;
}

textarea {
  resize: none;
}

.select-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: $danger;
  display: none;
  &--is-invalid {
    display: block;
  }
}