@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";
@import "~react-redux-toastr/src/styles/index";

@import "toastr-overwrites";
@import "app";

.select, .single-select {
  color: $gray-700;
}

.select.select__item__value-container {
  padding-left: 0.75rem;  
}

.select__item__placeholder {
  color: $gray-600 !important;
}
